---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import SetupColumn from "../components/SetupColumn.astro";
import { headers, inputs } from "../data/setup";
import Spacer from "../components/Spacer.astro";
import Spinner from "../components/ui/spinner.astro"
import { supabase } from "../lib/supabase";
import * as xlsx from "xlsx";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

let columns = Number(Astro.url.searchParams.get("numOfSKUs") || 1);

if (columns > 50) {
  columns = 50;
}

let excelData;


if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const excelFile = data.get("excelFileInput");
    await new Promise((resolve) => setTimeout(resolve, 1000));
    if (excelFile instanceof File) {
      const fileBuffer = await excelFile.arrayBuffer();
      const workbook = xlsx.read(fileBuffer, { type: "array" });
      const worksheet = workbook.Sheets[workbook.SheetNames[0]];
      excelData = xlsx.utils.sheet_to_json(worksheet);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
      excelData = null;
    }
  } 
}
---

<Layout>
  <nav
    class="flex h-12 w-full border-b items-center px-2 justify-between fixed top-20 bg-background z-50"
  >
    <div class="flex gap-2 items-center">
      <button class="btn text-xs">Add Column</button>
      <form
        x-data="{ loading: false, fileSelected: false }"
        class="flex items-center justify-center gap-2 w-[600px]"
        id="uploadForm"
        name="uploadForm"
        method="POST"
        enctype="multipart/form-data"
      >
        Import Excel File: <input
          type="file"
          class="flex items-center justify-center pt-[2px] pl-[2px] w-60 rounded-md h-8"
          id="excelFileInput"
          name="excelFileInput"
          accept=".csv, .xlsx, .xlsb"
          @change="fileSelected = $event.target.files.length > 0"
        />
        <input type="hidden" name="columns" value={columns} />
        <div class="relative w-24">
          <button class="btn text-xs" type="submit" @click="loading = true" :disabled="!fileSelected">Upload</button>
          <Spinner />
        </div>
      </form>
    </div>
    <button class="btn text-xs" type="submit" form="setupForm"
      >Next</button
    >
  </nav>
  <Spacer height={12} />
  <div class=`flex w-[8150px] `>
    <Sidebar obj={headers} />

    <SetupColumn
      obj={inputs}
      columns={columns}
      formName="setupForm"
      data={excelData}
    />
  </div>
</Layout>
