---
import { d } from "../data/hierarchy";
import Layout from "../layouts/Layout.astro";
const isHTMXRequest = Astro.request.headers.get("HX-Request") === "true";

const email = Astro.url.searchParams.get("email");
const department = Number(Astro.url.searchParams.get("department")) || 0;
const columns = Astro.url.searchParams.get("numOfSKUs");

const selectedDept = d.find((item) => Number(item.dept)  === department);

console.log(selectedDept?.value)
console.log(selectedDept?.value.length )

if (selectedDept && selectedDept.smartsheets.length === 1) {
  if (isHTMXRequest) {
    return new Response(null, {
      status: 302,
      headers: {
        'HX-Redirect': `/setup?email=${email}&department=${department}&numOfSKUs=${columns}`
      }
    });
  } else {
    return Astro.redirect(`/setup?email=${email}&department=${department}&numOfSKUs=${columns}&subCategory=${encodeURIComponent(selectedDept.value[0])}`);
  }
}

---

{
  isHTMXRequest ? (
    <form
      action="/setup"
      class="border rounded-md flex flex-col p-4 gap-4 shadow-md font-normal text-base tracking-tight"
      id="subcategoryForm"
    >
      <input type="hidden" name="email" value={email} />
      <input type="hidden" name="department" value={department} />
      <input type="hidden" name="numOfSKUs" value={columns} />
      <label for="subCategory">Sub-Category</label>
      <select
        name="subCategory"
        id="subCategory"
        class="border h-10 rounded-md px-2 overflow-hidden w-80"
      >
        <option value="">Select a sub-category</option>
        {selectedDept?.smartsheets.map((item) => (
          <option value={item}>{item}</option>
        ))}
      </select>
      <button
        type="submit"
        class="flex items-center justify-center w-80 hover:opacity-80 bg-black text-white rounded-md p-2"
      >
        Submit
        <svg class="hidden animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24" id="spinner">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
      </button>
    </form>

    <script>
      document.getElementById("spinner")?.classList.add("hidden");
      document.getElementById("submit")?.addEventListener("click", (event) => {
        document.getElementById("spinner")?.classList.remove("hidden");
      });
    </script>
  ) : (
    <Layout>
      <main
        class="flex flex-col w-[89.5%] h-[98%] bg-white mt-2 rounded-md border justify-center items-center gap-8 font-bold tracking-tight text-3xl"
        id="main"
      >
        <form
          action="/setup"
          class="border rounded-md flex flex-col p-4 gap-4 shadow-md font-normal text-base tracking-tight"
          id="subcategoryForm"
        >
          <input type="hidden" name="email" value={email} />
          <input type="hidden" name="department" value={department} />
          <input type="hidden" name="numOfSKUs" value={columns} />
          <select
            name="subCategory"
            id="subCategory"
            class="border h-10 rounded-md px-2 overflow-hidden w-80"
          >
            <option value="">Select a sub-category</option>
            {selectedDept?.smartsheets.map((item) => (
              <option value={item}>{item}</option>
            ))}
          </select>
          <button
            type="submit"
            class="flex items-center justify-center w-80 hover:opacity-80 bg-black text-white rounded-md p-2"
          >
            Submit
            <svg class="hidden animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24" id="spinner">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          </button>
        </form>
      </main>
    </Layout>
    <script>
      document.getElementById("spinner")?.classList.add("hidden");
      document.getElementById("submit")?.addEventListener("click", (event) => {
        document.getElementById("spinner")?.classList.remove("hidden");
      });
    </script>
  )
}
